<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.news.yazhidao">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".application.YaZhiDaoApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon144"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".MyActivity.Settings" />
        <activity
            android:name=".pages.NewsDetailAty"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>

        <activity
            android:name=".MyActivity.SignActivity"
            android:screenOrientation="portrait">

            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>


        <!-- ###################添加UmengAppkey###################### -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="54cdc89dfd98c5430f000618"></meta-data>

        <!-- 分享内容编辑页 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize"></activity>
        <activity
            android:name="com.news.yazhidao.MyFragment.CustomDrawerHeader"
            android:theme="@style/CustomHeaderLight">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name="com.news.yazhidao.MyFragment.KitkatStatusBar"
            android:theme="@style/KitkatStatusBar">

        </activity>
        <activity
            android:name=".pages.UserLoginAty"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".MyActivity.GuidingPage1"
            android:screenOrientation="portrait">


        </activity>
        <activity
            android:name=".MyActivity.GuidingPage2"
            android:screenOrientation="portrait" />

        <activity android:name=".MyActivity.SplashActivity"
            android:theme="@style/ThemeActivity"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
